.numBaloes {
	font-size: 50px;
	color: #555;
	display: block;
}
.cronometro {
	background: url(../imagens/cronometro.png);
	width: 140px;
	height: 132px;	
}
.cenario {
	background: url(../imagens/cenario.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
}
#tempoCronometro {
	font-size: 30px;
	color: #de3737;
	text-align: center;
	padding-top: 43px;

}